* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    padding: 3rem;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    text-align: center;
    width: 350px;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #764ba2;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px;
    box-shadow:     0 4px 10px rgba(0,0,0,0,2);
}

h1 { color: #333; margin-bottom: 10px; }
p { color: #666; font-size: 14px; margin-bottom: 25px; }

.links a {
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

.insta-link {
    background: linear-gradient(45deg, #f09433, #bc1888);
    color: white;
}

.contact-link {
    border: 2px solid #764ba2;
    color: #764ba2;
}

.links a:hover { transform: scale(1.05); }
.photo-container{
    text-align: center;
    margin: 20px 0;
}
.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #007bff;
    box-shadow: 0 5px 15px rgba(0,0,0,0,2)
}