body {
    background-color: #222; /* Bahar ka dark area */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.phone-screen {
    background-color: #8fb01c; /* Woh iconic Nokia green/yellow color */
    padding: 10px;
    border: 15px solid #333; /* Phone ki body */
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}

canvas {
    background-color: #8fb01c; 
    display: block;
    border: 2px solid #444; /* Game ki boundary */
}

#scoreBoard {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #222;
    text-align: right;
    margin-bottom: 5px;
    font-size: 18px;
}
