/* Dark Gaming Theme */
body {
    background-color: #050505;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.game-container {
    text-align: center;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 15px;
}

.logo { font-size: 24px; font-weight: bold; }
.logo span { color: #00ff88; text-shadow: 0 0 10px #00ff88; }

#scoreBoard { font-size: 20px; color: #fff; }

canvas {
    background-color: #000;
    border: 3px solid #222;
    box-shadow: 0 0 25px rgba(0, 255, 136, 0.1);
}

#gameOver {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.9);
    padding: 30px;
    border: 2px solid #ff0055;
    border-radius: 10px;
    display: none; /* Starting mein hidden */
    flex-direction: column;
}

button {
    background: #00ff88;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
}

.controls-hint { margin-top: 15px; color: #555; font-size: 14px; }
